{% extends 'base.html.twig' %}

{% block body %}
    <fieldset class="col-md-12">
        <legend>Qui ?</legend>
        <div class="btn-group-toggle" data-toggle="buttons">
            {% for baby in babies %}
                {% set is_checked = preselected_baby_id == baby.id %}
                <label class="btn btn-lg btn-light col-md-1 {% if is_checked %}active{% endif %}" for="baby-{{ baby.id }}">
                    {{ baby.name }}
                    <input id="baby-{{ baby.id }}" type="radio" name="baby" value="{{ baby.id }}"
                            {% if is_checked %} checked=checked{% endif %}>
                </label>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="col-md-12">
        <legend>Quand ?</legend>
        <input id="datetime" type="datetime-local" name="datetime" value="{{ now }}" />
    </fieldset>

    <fieldset class="col-md-12">
        <legend>Quoi ?</legend>
        <div class="btn-group-toggle" data-toggle="buttons">
            {% for log_type in log_types %}
                {% set is_checked = preselected_log_type_id == log_type.id %}
                <label class="btn btn-lg btn-light col-md-1 {% if is_checked %}active{% endif %}" for="log_type-{{ log_type.id }}">
                    <i class="{{ log_type.icon }}"></i><br>{{ log_type.name }}
                    <input id="log_type-{{ log_type.id }}" type="radio" name="log_type" value="{{ log_type.id }}"
                           class="radio-button" {% if is_checked %} checked=checked{% endif %}>
                </label>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="col-md-12">
        <legend>Résultats</legend>
        <div class="input-group col-sm-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Poids</span>
            </div>
            <input id="data" type="number" step="any" name="data" class="form-control"/>
            <div class="input-group-append">
                <span class="input-group-text">kg</span>
            </div>
        </div>
    </fieldset>


{% endblock %}
